<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
      <servlet>
        <servlet-name>reg_machine</servlet-name>
        <servlet-class>CTRL_GA.reg_machine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_machine</servlet-name>
        <servlet-class>CTRL_GA.Remove_machine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rename_name</servlet-name>
        <servlet-class>CTRL_GA.Rename_name</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_plate</servlet-name>
        <servlet-class>CTRL_GA.Register_plate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_plate</servlet-name>
        <servlet-class>CTRL_GA.Update_plate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suggections</servlet-name>
        <servlet-class>CTRL_GA.Suggections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_plate</servlet-name>
        <servlet-class>CTRL_GA.Remove_plate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Plates</servlet-name>
        <servlet-class>CTRL_GA.Get_Plates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Order_Description</servlet-name>
        <servlet-class>CTRL_GA.Get_Order_Description</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Orders</servlet-name>
        <servlet-class>CTRL_GA.Get_Orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_job</servlet-name>
        <servlet-class>CTRL_GA.Save_job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_Job</servlet-name>
        <servlet-class>CTRL_GA.Load_Job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePrintJobStatus</servlet-name>
        <servlet-class>CTRL_GA.ChangePrintJobStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_job</servlet-name>
        <servlet-class>CTRL_GA.update_job</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg_machine</servlet-name>
        <url-pattern>/reg_machine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_machine</servlet-name>
        <url-pattern>/Remove_machine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rename_name</servlet-name>
        <url-pattern>/Rename_name</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_plate</servlet-name>
        <url-pattern>/Register_plate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_plate</servlet-name>
        <url-pattern>/Update_plate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggections</servlet-name>
        <url-pattern>/Suggections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_plate</servlet-name>
        <url-pattern>/Remove_plate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Plates</servlet-name>
        <url-pattern>/Get_Plates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Order_Description</servlet-name>
        <url-pattern>/Get_Order_Description</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Orders</servlet-name>
        <url-pattern>/Get_Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_job</servlet-name>
        <url-pattern>/Save_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_Job</servlet-name>
        <url-pattern>/Load_Job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePrintJobStatus</servlet-name>
        <url-pattern>/ChangePrintJobStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_job</servlet-name>
        <url-pattern>/update_job</url-pattern>
    </servlet-mapping>
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
