<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
      <servlet>
        <servlet-name>reg_machine</servlet-name>
        <servlet-class>CTRL_GA.reg_machine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_machine</servlet-name>
        <servlet-class>CTRL_GA.Remove_machine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rename_name</servlet-name>
        <servlet-class>CTRL_GA.Rename_name</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_plate</servlet-name>
        <servlet-class>CTRL_GA.Register_plate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_plate</servlet-name>
        <servlet-class>CTRL_GA.Update_plate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suggections</servlet-name>
        <servlet-class>CTRL_GA.Suggections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_plate</servlet-name>
        <servlet-class>CTRL_GA.Remove_plate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Plates</servlet-name>
        <servlet-class>CTRL_GA.Get_Plates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Order_Description</servlet-name>
        <servlet-class>CTRL_GA.Get_Order_Description</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Orders</servlet-name>
        <servlet-class>CTRL_GA.Get_Orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_job</servlet-name>
        <servlet-class>CTRL_GA.Save_job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_Job</servlet-name>
        <servlet-class>CTRL_GA.Load_Job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePrintJobStatus</servlet-name>
        <servlet-class>CTRL_GA.ChangePrintJobStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_job</servlet-name>
        <servlet-class>CTRL_GA.update_job</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg_machine</servlet-name>
        <url-pattern>/reg_machine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_machine</servlet-name>
        <url-pattern>/Remove_machine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rename_name</servlet-name>
        <url-pattern>/Rename_name</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_plate</servlet-name>
        <url-pattern>/Register_plate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_plate</servlet-name>
        <url-pattern>/Update_plate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggections</servlet-name>
        <url-pattern>/Suggections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_plate</servlet-name>
        <url-pattern>/Remove_plate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Plates</servlet-name>
        <url-pattern>/Get_Plates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Order_Description</servlet-name>
        <url-pattern>/Get_Order_Description</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Orders</servlet-name>
        <url-pattern>/Get_Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_job</servlet-name>
        <url-pattern>/Save_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_Job</servlet-name>
        <url-pattern>/Load_Job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePrintJobStatus</servlet-name>
        <url-pattern>/ChangePrintJobStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_job</servlet-name>
        <url-pattern>/update_job</url-pattern>
    </servlet-mapping>
   

  <servlet>
        <servlet-name>LoadTable</servlet-name>
        <servlet-class>model.LoadTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>ctrl.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>ctrl.insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>ctrl.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>ctrl.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBrand</servlet-name>
        <servlet-class>ctrl.searchBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>brandInsert</servlet-name>
        <servlet-class>ctrl.brandInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>brandDelete</servlet-name>
        <servlet-class>ctrl.brandDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>brandUpdate</servlet-name>
        <servlet-class>ctrl.brandUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>brandListLoad</servlet-name>
        <servlet-class>ctrl.brandListLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRowItems</servlet-name>
        <servlet-class>ctrl.searchRowItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rowItemInsert</servlet-name>
        <servlet-class>ctrl.rowItemInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rowItemDelete</servlet-name>
        <servlet-class>ctrl.rowItemDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rowItemUpdate</servlet-name>
        <servlet-class>ctrl.rowItemUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRaw</servlet-name>
        <servlet-class>ctrl.loadRaw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSuppliers</servlet-name>
        <servlet-class>ctrl.loadSuppliers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grnInsert</servlet-name>
        <servlet-class>ctrl.grnInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grnItemInsert</servlet-name>
        <servlet-class>ctrl.grnItemInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grnSearch</servlet-name>
        <servlet-class>ctrl.grnSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>brandExists</servlet-name>
        <servlet-class>ctrl.brandExists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rawItemExists</servlet-name>
        <servlet-class>ctrl.rawItemExists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStock</servlet-name>
        <servlet-class>ctrl.addStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadStockRawItems</servlet-name>
        <servlet-class>ctrl.loadStockRawItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSup</servlet-name>
        <servlet-class>ctrl.loadSup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRawItems</servlet-name>
        <servlet-class>ctrl.loadRawItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadStock</servlet-name>
        <servlet-class>ctrl.loadStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockOutInsert</servlet-name>
        <servlet-class>ctrl.stockOutInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockHasStockOutInsert</servlet-name>
        <servlet-class>ctrl.stockHasStockOutInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>qtyCheck</servlet-name>
        <servlet-class>ctrl.qtyCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockTable</servlet-name>
        <servlet-class>ctrl.stockTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockUpdate</servlet-name>
        <servlet-class>ctrl.stockUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockTable2</servlet-name>
        <servlet-class>ctrl.stockTable2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockStatus</servlet-name>
        <servlet-class>ctrl.stockStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSupp</servlet-name>
        <servlet-class>ctrl.loadSupp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suppExists</servlet-name>
        <servlet-class>ctrl.suppExists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suppInsert</servlet-name>
        <servlet-class>ctrl.suppInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadTable</servlet-name>
        <url-pattern>/LoadTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBrand</servlet-name>
        <url-pattern>/searchBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>brandInsert</servlet-name>
        <url-pattern>/brandInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>brandDelete</servlet-name>
        <url-pattern>/brandDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>brandUpdate</servlet-name>
        <url-pattern>/brandUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>brandListLoad</servlet-name>
        <url-pattern>/brandListLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRowItems</servlet-name>
        <url-pattern>/searchRowItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rowItemInsert</servlet-name>
        <url-pattern>/rowItemInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rowItemDelete</servlet-name>
        <url-pattern>/rowItemDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rowItemUpdate</servlet-name>
        <url-pattern>/rowItemUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRaw</servlet-name>
        <url-pattern>/loadRaw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSuppliers</servlet-name>
        <url-pattern>/loadSuppliers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grnInsert</servlet-name>
        <url-pattern>/grnInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grnItemInsert</servlet-name>
        <url-pattern>/grnItemInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grnSearch</servlet-name>
        <url-pattern>/grnSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>brandExists</servlet-name>
        <url-pattern>/brandExists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rawItemExists</servlet-name>
        <url-pattern>/rawItemExists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStock</servlet-name>
        <url-pattern>/addStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadStockRawItems</servlet-name>
        <url-pattern>/loadStockRawItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSup</servlet-name>
        <url-pattern>/loadSup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRawItems</servlet-name>
        <url-pattern>/loadRawItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadStock</servlet-name>
        <url-pattern>/loadStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockOutInsert</servlet-name>
        <url-pattern>/stockOutInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockHasStockOutInsert</servlet-name>
        <url-pattern>/stockHasStockOutInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>qtyCheck</servlet-name>
        <url-pattern>/qtyCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockTable</servlet-name>
        <url-pattern>/stockTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockUpdate</servlet-name>
        <url-pattern>/stockUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockTable2</servlet-name>
        <url-pattern>/stockTable2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockStatus</servlet-name>
        <url-pattern>/stockStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSupp</servlet-name>
        <url-pattern>/loadSupp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suppExists</servlet-name>
        <url-pattern>/suppExists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suppInsert</servlet-name>
        <url-pattern>/suppInsert</url-pattern>
    </servlet-mapping>



    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
